<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load widget_tweaks %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/assets/images/favicon.png' %}" type="image/x-icon" />
    <!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" href="{% static '/assets/images/apple-touch-icon-57-precomposed.png' %}">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="{% static '/assets/images/apple-touch-icon-114-precomposed.png' %}">
    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
        href="{% static '/assets/images/apple-touch-icon-72-precomposed.png' %}">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="{% static '/assets/images/apple-touch-icon-144-precomposed.png' %}">

    <!-- CORE CSS FRAMEWORK - START -->
    <link href="{% static '/assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css"
        media="screen" />
    <link href="{% static '/assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/plugins/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet"
        type="text/css" />
    <link href="{% static '/assets/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/fonts/webfont/cryptocoins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/css/animate.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/plugins/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet"
        type="text/css" />
    <link href="{% static '/assets/plugins/jvectormap/jquery-jvectormap-2.0.1.css' %}" rel="stylesheet" type="text/css"
        media="screen" />
    <link href="{% static '/assets/plugins/morris-chart/css/morris.css' %}" rel="stylesheet" type="text/css"
        media="screen" />
    <link href="{% static '/assets/plugins/calendar/fullcalendar.css' %}" rel="stylesheet" type="text/css"
        media="screen" />
    <link href="{% static '/assets/plugins/icheck/skins/minimal/minimal.css' %}" rel="stylesheet" type="text/css"
        media="screen" />
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->

    <!-- CORE CSS TEMPLATE - START -->
    <link href="{% static '/assets/css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- START TOPBAR -->
    <div class='page-topbar gradient-blue1'>
        <div class='logo-area crypto'>
            <h4 >Codigo Mantra</h4>
        </div>
        <div class='quick-area'>
            <div class='pull-left'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-sm hidden-xs searchform">
                        <form action="#" method="post">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control animated fadeIn" placeholder="Search & Enter">
                            </div>
                            <input type='submit' value="">
                        </form>
                    </li>
                </ul>
            </div>
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">

                    <li class="profile">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            
                            <span>{{request.user.first_name}}{{request.user.last_name}}<i
                                    class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">

                            <li class="last">
                                <a href="crypto-login.html">
                                    <i class="fa fa-lock"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->

        <div class="page-sidebar fixedscroll">

            <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">

                <ul class='wraplist'>
                    <li class='menusection'>{{request.user.first_name}} {{request.user.last_name}}</li>

                    <li class="open">
                        <a href='/dashboard'>
                            <i class="img">
                                <img src="{% static '/data/hos-dash/icons/3.png' %}" alt="" class="width-20">
                            </i>
                            <span class="title" style="text-align:center;">Dashboard</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="javascript:;">
                            <i class="img">
                                <img src="{% static '/data/hos-dash/icons/5.png' %}" alt="" class="width-20">
                            </i>
                            <span class="title">Blog Page</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">

                            <li>
                                <a class href='addblog'>Add Blogs</a>
                            </li>
                            <li>
                                <a class href='view-all-blogs'>All Blogs</a>
                            </li>
                            
                        </ul>
                    </li>

                    

                </ul>

            </div>
            <!-- MAIN MENU - END -->

        </div>
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class="">
            <div class="wrapper main-wrapper row">

                <div class="col-xs-12">
                    <div class="page-title">

                        <div class="pull-left">
                            <!-- PAGE HEADING TAG - START -->
                            <h1 class="title">Add Blogs</h1>
                            <!-- PAGE HEADING TAG - END -->
                        </div>

                        <div class="pull-right hidden-xs">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="dashboard"><i class="fa fa-home"></i>Home</a>
                                </li>
                                <li>
                                    <a href="view-all-blogs">View Blogs</a>
                                </li>
                                <li class="active">
                                    <strong>Add Blogs</strong>
                                </li>
                            </ol>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- MAIN CONTENT AREA STARTS -->

                <div class="col-xs-12 ">
                    <div class="add-header-wrapper gradient-blue curved-section text-center">
                        <h2 class="uppercase bold w-text">Add New Blogs</h2>
                        <div class="before-text">Add Blogs</div>
                    </div>

                    <div class=" bg-w">
                        <div class="col-lg-10 col-lg-offset-1 col-xs-12">
                            <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Basic Info</h2>
                                    <div class="actions panel_actions pull-right">
                                        <a class="box_toggle fa fa-chevron-down"></a>
                                        <a class="box_setting fa fa-cog" data-toggle="modal"
                                            href="#section-settings"></a>
                                        <a class="box_close fa fa-times"></a>
                                    </div>
                                </header>
                                <div class="content-body">
                                    <form method = "post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>
                                    
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <!-- MAIN CONTENT AREA ENDS -->
            </div>
        </section>
        <!-- END CONTENT -->
    </div>

    <script src="{% static '/assets/js/jquery.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static '/assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/plugins/pace/pace.min.js' %}"></script>
    <script src="{% static '/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static '/assets/plugins/viewport/viewportchecker.js' %}"></script>
    <script>
        window.jQuery || document.write('<script src="../assets/js/jquery.min.js"><\/script>');
    </script>
    <script src="{% static '/assets/js/scripts.js' %}"></script>

</body>

</html>