{% load static %}
<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet", href="{% static 'css1/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body class="bdy1">
    <form method="post">
        {% for message in messages %}
    <div class="message alert {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
        {% csrf_token %}
        <div class="main">
            <form action="">
                <label for="first">
                    Username:
                </label>
                {% render_field form.username id="inpt" placeholder="Username" %}

                <label for="password">
                    Password:
                </label>
                {% render_field form.password id="inpt" placeholder="Password" %}

                <div class="wrap">
                    <button id="btn" type="submit" onclick="solve()" name = "login">
                        Submit
                    </button>
                </div>
            </form>
            <p>Not registered?
                <a href="/signup" style="text-decoration: none; color:#1A3636  ;">
                    Create an account
                </a>
            </p>
        </div>
    </form> 
</body>
</html>